<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="box">
        <h1>Todo list</h1>
    </div>
    <div class="box">
        <% for(var i=0; i < ejes.length ; i++){ %>
            <div class="item">
                <form action="/toggle" method="post" style="display: inline;">
                    <input type="hidden" name="index" value="<%= i %>">
                    <input type="checkbox" onchange="this.form.submit()">
                </form>
                <% if(params.edit && parseInt(params.edit)===i){ %>
                    <form action="/edit" method="post" style="display: inline;">
                        <input type="hidden" name="index" value="<%= i %>">
                        <input type="text" name="editedTask" value="<%= ejes[i].task %>">
                        <button type="submit">💾</button>
                    </form>
                    <% } else { %>
                        <p class="<%= ejes[i].completed ? 'completed' : '' %>">
                            <%= ejes[i].task %>
                        </p>

                        <form action="/" method="get" style="display: inline;">
                            <input type="hidden" name="edit" value="<%= i %>">
                            <button type="submit">✏️</button>
                        </form>
                        <form action="/delete" method="post" style="display: inline;">
                            <input type="hidden" name="index" value="<%= i %>">
                            <button type="submit">🗑️</button>
                        </form>
                        <% } %>

            </div>
            <% } %>
                <form action="/" method="post">
                    <input type="text" name="ele1" placeholder="Enter the task">
                    <button type="submit">+</button>
                </form>
    </div>
    <script>
        const params = new URLSearchParams(window.location.search);
        if (params.get("error") === "empty") {
            alert("Task cannot be empty!");
        }
    </script>
</body>

</html>